.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mod{
  text-align: center;
  padding-top: 40px;
 
}
.aad{
  font-family: 'Times New Roman', Times, serif;
  text-shadow: #282c34;
  color:;
            font-size: 50px;
            text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}
.add{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  color:black;
            font-size: 20px;
            text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        ;
                        padding-left: 5px;
}
.cls{
  background-color:azure;
  padding-left: 600px;
  padding-top: 40px;
}
.card-body{
  align-items: center;
  background-image: url("https://media.istockphoto.com/id/1285308242/photo/to-do-list-text-on-notepad.jpg?b=1&s=170667a&w=0&k=20&c=xAUt6BWO1oyibsevhrqjfNH_etMfz3oOQESJCkn0H3Y=");
}
